.two {
  position: absolute;
  width: inherit;
  margin-top: 50px;
  height: 700px;

  right: 0;
  top: 0;
  background-image: url(assets/05-IMAGE.png);
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 30% 100%);
}

body {
  margin: 0;
  padding: 0;
  background: url(assets/04-BG.png) repeat 0px 400px;
  /* background: linear-gradient(45deg, red 50%, blue 50%); */
}

p {
  color: white;
  text-align: center;
  font-family: "Cookie", regular;
  font-size: 71px;
  margin: 30px 0px 5px 0px;
}

div #msg {
  color: white;
  text-align: center;
  font-family: "Cookie", regular;
  font-size: 18px;
  display: none;
  margin: 30px 0px 5px 0px;
}

.home-container {
  height: 100%;
  float: left;
  width: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container form {
  margin-bottom: 25px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 950px) {
  .home-container {
    width: 62%;
  }

  .home-container form {
    margin-bottom: 20px;
    width: 350px;
  }

  p {
    font-size: 51px;
  }
}

@media only screen and (max-width: 700px) {
  .two {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .home-container {
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .home-container form {
    margin-bottom: 20px;
    width: 300px;
    height: 550px;
  }

  p {
    font-size: 45px;
  }
}

@media only screen and (max-width: 330px) {
  .home-container form {
    width: 250px;
  }
}

.home-container form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.home-container form input[type="text"] {
  font-family: "Open Sans Bold Italic", sans-serif;
  font-size: 16px;
}

.home-container form input[type="button"] {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 22px;
  background: #72a397;
  box-shadow: 0px 6px 0px 0px #4b8878;
  border: 0;
  cursor: pointer;
}

.home-container form textarea {
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;

  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 20px;
  color: #666;
}

.logoStyle {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #accfb6;
}

.logoStyle img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

.home-container form .error {
  background-color: #fffbdd;
  border-color: red;
  outline: none;

  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
}

.home-container form .danger {
  font-size: small;
  margin: 0;
  background: red;
  color: aliceblue;
  text-align: center;
  display: none;
}
